#app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

#content {
    flex: 1;
}

#notification-bar {
    z-index: 1000;
    position: fixed;
    top: 10px;
    left: 10px;
    height: fit-content;
}

.hidden {
    display: none !important;
}

.move-btn:hover, .move-btn:active {
    &:not(:disabled) {
        color: gold;
    }

    &:disabled {
        cursor: default;
    }
}

.delete-btn:hover, .delete-btn:active {
    color: red;
}

.add-btn:hover, .add-btn:active {
    color: limegreen;
}