#notification-bar {
    z-index: 1000;
    position: fixed;
    top: 10px;
    left: 10px;
    height: fit-content;
}

.hidden {
    display: none !important;
}

.move-btn:hover:not(:disabled),
.move-btn:active:not(:disabled) {
    color: var(--ui-accent) !important;
}
