#notification-bar {
    z-index: 1000;
    position: fixed;
    top: 10px;
    left: 10px;
    height: fit-content;
}

.hidden {
    display: none !important;
}

.move-btn:hover, .move-btn:active {
    &:not(:disabled) {
        color: gold;
    }

    &:disabled {
        cursor: default;
    }
}

.delete-btn:hover, .delete-btn:active {
    color: red;
}

.add-btn:hover, .add-btn:active {
    color: limegreen;
}

.loading-container-a {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);

    transition: 0.2s ease-in-out;

    &.hidden {
        display: flex !important;
        background-color: transparent;

        i {
            opacity: 0;
        }
    }

    i {
        font-size: 50px;
        color: white;

        transition: 0.2s ease-in-out;
    }
}